<div class="container">
  <h1>Welcome to Mitch's List!</h1>
  <h2>Here are the search categories:</h2>

  <table>
    <tr>
      <th>Category</th>
      <th>Description</th>
    </tr>
        <% Category.all.each do |category| %>
          <tr>
            <td><a href="/listings/?cat_id=<%=category.id%>"><%=category.name%></a></td>
            <td><code><%= category.description %></code></td>
          </tr>
        <% end %>
  </table>
</div>
